[submodule "vim/bundle/ctrlp.vim"]
  path = vim/bundle/ctrlp.vim
  url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/skwp-vim-colors-solarized"]
  path = vim/bundle/skwp-vim-colors-solarized
  url = git@github.com:skwp/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-buffergator"]
  path = vim/bundle/vim-buffergator
  url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/tComment"]
  path = vim/bundle/tComment
  url = git@github.com:vim-scripts/tComment.git
[submodule "vim/bundle/vim-indent-guides"]
  path = vim/bundle/vim-indent-guides
  url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/NrrwRgn"]
  path = vim/bundle/NrrwRgn
  url = git@github.com:chrisbra/NrrwRgn.git
[submodule "vim/bundle/vim-cucumber"]
  path = vim/bundle/vim-cucumber
  url = git@github.com:tpope/vim-cucumber.git
[submodule "vim/bundle/vim-tomorrow-theme"]
  path = vim/bundle/vim-tomorrow-theme
  url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "vim/bundle/html5.vim"]
  path = vim/bundle/html5.vim
  url = git@github.com:othree/html5.vim.git
[submodule "vim/bundle/vim-coffee-script"]
  path = vim/bundle/vim-coffee-script
  url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-surround"]
  path = vim/bundle/vim-surround
  url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-rails"]
  path = vim/bundle/vim-rails
  url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/Conque-Shell"]
  path = vim/bundle/Conque-Shell
  url = git@github.com:vim-scripts/Conque-Shell.git
[submodule "vim/bundle/vim-ruby-conque"]
  path = vim/bundle/vim-ruby-conque
  url = git@github.com:skwp/vim-ruby-conque.git
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = git@github.com:scrooloose/syntastic.git

[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
