[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/skwp-vim-colors-solarized"]
	path = vim/bundle/skwp-vim-colors-solarized
	url = git@github.com:skwp/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-buffergator"]
	path = vim/bundle/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = git@github.com:vim-scripts/tComment.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
