[user]
	name = Phillip Ridlen
	email = p@rdln.net
	signingkey = CD07CFFEF3DFFE58
[commit]
	gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore.global
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
