[submodule "vim/bundle/ctrlp.vim"]
  path = vim/bundle/ctrlp.vim
  url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/skwp-vim-colors-solarized"]
  path = vim/bundle/skwp-vim-colors-solarized
  url = git@github.com:skwp/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-buffergator"]
  path = vim/bundle/vim-buffergator
  url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/tComment"]
  path = vim/bundle/tComment
  url = git@github.com:vim-scripts/tComment.git
[submodule "vim/bundle/vim-indent-guides"]
  path = vim/bundle/vim-indent-guides
  url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/NrrwRgn"]
  path = vim/bundle/NrrwRgn
  url = git@github.com:chrisbra/NrrwRgn.git
[submodule "vim/bundle/vim-tomorrow-theme"]
  path = vim/bundle/vim-tomorrow-theme
  url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "vim/bundle/html5.vim"]
  path = vim/bundle/html5.vim
  url = git@github.com:othree/html5.vim.git
[submodule "vim/bundle/vim-coffee-script"]
  path = vim/bundle/vim-coffee-script
  url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-rails"]
  path = vim/bundle/vim-rails
  url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
[submodule "middleman/html5-haml"]
  path = middleman/html5-haml
  url = git@github.com:dannyprose/Middleman-HTML5BP-HAML.git

[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
